################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeShareServer/.vs
/WeShareServer/packages
/WeShareServer/WeShareServer/obj
/WeShareServer/WeShareServer/bin
